:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

mat-tree {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}

.center-content {
  display: flex;
  justify-content: center;
  margin-bottom: calc(8px + env(safe-area-inset-bottom, 0px));
  // Fallback for older iOS-Versions:
  margin-bottom: calc(8px + constant(safe-area-inset-bottom, 0px));
}

span.song-link {
  cursor: pointer;
}

button.song-link-button {
  color: inherit !important;
  opacity: 1 !important;
}

.help-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: calc(16px + env(safe-area-inset-bottom, 0px));
  // Fallback for older iOS-Versions:
  margin-bottom: calc(16px + constant(safe-area-inset-bottom, 0px));
}