<mat-toolbar>
    <a mat-icon-button (click)="toggleSidenav()">
        <mat-icon>lyrics</mat-icon>
    </a>
    @if(currentSongFile) {
        @let editSongTitleMode = editSongTitleMode$ |async;
        <span class="toolbar-title">
            @if(editSongTitleMode){
                <form (ngSubmit)="toggleEditSongNameMode(currentSongFile, editSongTitleMode)">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput name="fileName" [(ngModel)]="currentSongFile.name" />
                    </mat-form-field>
                    <!-- invisible submit button for enter -->
                    <button type="submit" style="display:none"></button>
                </form>
            } @else {
                <h1>{{currentSongFile.name}}</h1>
            }
        </span>
        <span class="toolbar-actions">
            <!-- Normal Buttons, for bigger displays -->
            <span class="toolbar-action-buttons">
                <button 
                    (click)="toggleEditSongNameMode(currentSongFile, editSongTitleMode)" 
                    mat-mini-fab
                    matTooltip="Namen bearbeiten">
                    <mat-icon *ngIf="editSongTitleMode">check</mat-icon>
                    <mat-icon *ngIf="!editSongTitleMode">edit</mat-icon>
                </button>
                <button 
                    (click)="toggleShowAudioFiles()" 
                    mat-mini-fab 
                    [class.active]="showAudioFiles$ | async"
                    matTooltip="Lied-Dateien anzeigen">
                    <mat-icon>audio_file</mat-icon>
                </button>
                <button (click)="duplicateSong(currentSongFile)" mat-mini-fab matTooltip="Lied dublizieren">
                    <mat-icon>file_copy</mat-icon>
                </button>
                <button (click)="deleteSong(currentSongFile)" mat-mini-fab matTooltip="Lied löschen">
                    <mat-icon>delete</mat-icon>
                </button>
                <button (click)="shareSong(currentSongFile)" mat-mini-fab matTooltip="Lied teilen oder herunterladen">
                    <mat-icon>share</mat-icon>
                </button>
            </span>

            <!-- Burger Menu buttons for smaller displays -->
            <button mat-icon-button [matMenuTriggerFor]="burgerMenu" class="toolbar-burger">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #burgerMenu="matMenu">
                <button mat-menu-item (click)="toggleEditSongNameMode(currentSongFile, editSongTitleMode)">
                    <mat-icon *ngIf="editSongTitleMode">check</mat-icon>
                    <mat-icon *ngIf="!editSongTitleMode">edit</mat-icon>
                    <span>Namen bearbeiten</span>
                </button>
                <button mat-menu-item (click)="toggleShowAudioFiles()">
                    <mat-icon>audio_file</mat-icon>
                    <span>Lied-Dateien 
                        {{ (showAudioFiles$ | async)? 'verbergen' : 'anzeigen' }}
                    </span>
                </button>
                <button mat-menu-item (click)="duplicateSong(currentSongFile)">
                    <mat-icon>file_copy</mat-icon>
                    <span>Lied duplizieren</span>
                </button>
                <button mat-menu-item (click)="deleteSong(currentSongFile)">
                    <mat-icon>delete</mat-icon>
                    <span>Lied löschen</span>
                </button>
                <button mat-menu-item (click)="shareSong(currentSongFile)">
                    <mat-icon>share</mat-icon>
                    <span>Lied teilen oder herunterladen</span>
                </button>
            </mat-menu>
        </span>
    } @else {
        <span class="toolbar-title">
            <h1>Mulu</h1>
        </span>
        <span class="toolbar-actions">
            <button (click)="importSong()" mat-mini-fab>
                <mat-icon>upload_file</mat-icon>
            </button>    
        </span>
    }
</mat-toolbar>