<mat-toolbar>
    <a mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </a>
    @if(currentSongFile) {
        @let editSongTitleMode = editSongTitleMode$ |async;
        <span class="toolbar-title">
            @if(editSongTitleMode){
                <form>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput name="fileName" [(ngModel)]="currentSongFile.name"/>
                    </mat-form-field>
                </form>
            } @else {
                <h1>{{currentSongFile.name}}</h1>
            }
        </span>
        <span class="toolbar-actions">
            <button (click)="toggleEditSongNameMode(currentSongFile, editSongTitleMode)" mat-mini-fab>
                @if(editSongTitleMode){
                    <mat-icon>check</mat-icon>
                } @else {
                    <mat-icon>edit</mat-icon>
                }
            </button>
            <button (click)="deleteSong(currentSongFile)" mat-mini-fab>
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="shareSong(currentSongFile)" mat-mini-fab>
                <mat-icon>share</mat-icon>
            </button>
        </span>
    } @else {
        <span class="toolbar-title">
            <h1>Mulu Songs</h1>
        </span>
        <span class="toolbar-actions">
            <button (click)="importSong()" mat-mini-fab>
                <mat-icon>upload_file</mat-icon>
            </button>    
        </span>
    }
</mat-toolbar>