@use '@angular/material' as mat;

app-song-view {
  @include mat.list-overrides((
    list-item-one-line-container-height: 32px,
  ));
}

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    overflow: hidden;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px; 
    margin-top: 32px;
}

:root {
    @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
    ));
  }

.monospace-text {
  font-family: monospace !important;
  font-size: 14px !important; 
  line-height: 1.4 !important;
  white-space: pre-wrap; 
}