.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-view-container {
    margin: 15px;
    margin-top: 0;
}

.song-control-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}